services:
  keycloak:
    image: 'quay.io/keycloak/keycloak:22.0.1'
    ports:
      - '8181:8080'
    environment:
      - 'KEYCLOAK_ADMIN=admin'
      - 'KEYCLOAK_ADMIN_PASSWORD=admin'
    container_name: 'keycloak'
    command: 'start-dev'


  mongodb:
    image: 'mongo:latest'
    environment:
      - 'MONGO_INITDB_ROOT_USERNAME: root'
      - 'MONGO_INITDB_ROOT_PASSWORD: root'
    ports:
      - '27017:27017'
    container_name: 'mongodb'
    hostname: 'localhost'

  zipkin:
    image: 'openzipkin/zipkin'
    container_name: 'zipkin'
    ports:
      - '9411:9411'


