eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_USERNAME:user}:${EUREKA_PASSWORD:password}@localhost:8761/eureka/

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes[0]:
        id: product-service
        uri: lb://product-service
        predicates[0]: Path=/api/v1/product
      routes[1]:
        id: inventory-service
        uri: lb://inventory-service
        predicates[0]: Path=/api/v1/inventory
      routes[2]:
        id: order-service
        uri: lb://order-service
        predicates[0]: Path=/api/v1/order
      routes[3]:
        id: discovery-server
        uri: http://localhost:8761
        predicates[0]: Path=/eureka/web
        filters[0]: SetPath=/
      routes[4]:
        id: discovery-server-static
        uri: http://localhost:8761
        predicates[0]: Path=/eureka/**

  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://0.0.0.0:8181/realms/msafiri-realm

logging:
  level:
    root: info
    org.springframework.cloud.gateway: trace
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: debug

#product service route