spring:
  profiles:
    active: dev
    #    active: staging

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
  application:
    name: order-service

server:
  port: 8081
  error:
    include-message: always

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@localhost:8761/eureka

logging:
  level:
    org.springframework.web.reactive.function.client.ExchangeFunctions: DEBUG

management:
  endpoint:
    health:
        show-details: always
  health:
    circuit-breakers:
      enabled: true

  endpoints:
    web:
      exposure:
        include: '*'


#  resiliency4j properties
resilience4j:
  circuit-breaker:
    instances:
      inventory:
        registerHealthIndicator: true
        event-consumer-buffer-size: 10
        sliding-window-type: COUNT_BASED
        sliding-window-size: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true

#  resiliency4j timeouts
  timelimiter:
    instances:
      inventory:
        timeout-duration: 3s
