spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: msafiri
  main:
    allow-bean-definition-overriding: true
  application:
    name: product-service


eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_USERNAME:user}:${EUREKA_PASSWORD:password}@localhost:8761/eureka/

server:
  port: 0