spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: msafiri
  main:
    allow-bean-definition-overriding: true
  application:
    name: product-service


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka